<script>
Vue.component('shareddrive-selector', {
  props: {
    selected: {
      type: String,
      required: false
    },
    items: {
      validator: prop => typeof prop === 'object' || prop === null,
      required: true
    }
  },
  template: '<div>\
    <div style="display: table; margin: 100px auto;" v-if="items === null">\
      <md-progress-spinner md-mode="indeterminate"></md-progress-spinner>\
    </div>\
    <md-list v-else>\
      <selector-row v-for="item in items" v-bind:item="item" v-bind:selected="item.id === selected" v-bind:key="item.id" v-on:click="$emit(\'select-shareddrive\', $event)"></selector-row>\
    </md-list>\
    <md-button class="md-raised md-primary" v-on:click="$emit(\'next-step\')" v-bind:disabled="!selected">Continue</md-button>\
  </div>'
});
</script>